DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=labpassword123
DOCKER_INFLUXDB_INIT_ORG=grafana-lab
DOCKER_INFLUXDB_INIT_BUCKET=system
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=lab-super-token
